@import 'tailwindcss';
body {
    background: #10b981
}   
.bg {
    background: linear-gradient(to right, red, rgb(233, 166, 166));
}

.bg:hover {
    background: red;
    transition: all;
}